mozilla/
pulse/
dconf/
github-copilot/
go/
yay/
nautilus/
zed/
*.log
*.cache
opencode
node_modules
octopi
cachyos-hello.json
.nuxtrc
dolphinrc
user-dirs.dirs
user-dirs.locale
mimeapps.list
systemd
gh/hosts.yml
fish/completions
cachyos
autostart
fontconfig
nwg-look
micro
qt6ct
qt5ct
gh
xsettingsd
qBittorrent
net.imput.helium
session
spicetify
vlc
